.donation-page {

}

.donation-page .pink-form label strong {
    font-family: 'Tahoma Bold';
    font-size: 21px;
    color: #ee4399;
}

.donation-page__donate {
    margin-top: 6px;
}

.donation-page__donate {
    margin: 33px 0 10px 0;
}
