.invite-page {

}

.invite-page .pink-form .form-group {
    padding-bottom: 7px;
}

.invite-page__invite {
    margin-top: 22px;
}

.invite-page__facebook {
    margin-top: 23px;
}

.invite-page .go-back {
    margin-top: 30px;
}