.success-page {

}

.success-page__well-done {
    text-align: center;
    margin: 28px 0;
}

.success-page__well-done h1 {
    font-size: 50px;
    color: #ee4399;
    line-height: 70px;
    font-weight: normal;
    letter-spacing: -0.8px;
}

.success-page__well-done h4 {
    font-family: 'Tahoma Bold';
    letter-spacing: 2.3px;
    line-height: 26px;
}

.success-page .user-avatar span {
    margin-left: 38px;
    margin-top: -2px;
}

.success-page__invite {
    margin-top: 22px;
}

.success-page__invite-another {
    margin-top: 40px;
}

.success-page__team-management {
    margin-top: 23px;
}

.success-page__go-team-management {
    margin: 23px 0 11px 0;
}

.success-page__dressing-room {
    margin: 23px 0 9px 0;
}

